<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="images/logo.png" />
        <div id="nav">
            <ul class="menu">
                <li ><a href="/home">Главная</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li class="current_page_item"><a href="/carta">Мед.карточка</a></li>
                <li><a href="/visit_doctor">Визит к врачу</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
    <div class="button-container">
    <button id="add-record-btn" onclick="toggleForm(); hideAddRecordBtn()">Добавить запись</button>
    </div>
    <div id="upload-form" style="display: none;">
        <form action="/file/upload" method="POST" enctype="multipart/form-data">
            <label for="name_conclusion">Название документа:</label>
            <input type="text" name="name_conclusion" required>
            <select name="type_conclusion">
                <option >Анализы</option>
                <option >Аллергия</option>
                <option >Заключение врача</option>
                <option >Консультация</option>
                <option >Направления</option>
                <option >Плановый прием</option>
                <option >Прививка</option>
                <option >Рентген</option>
                <option >Справка</option>
                <option >Стоматология</option>
                <option >Флюрография</option>
                <option >Хроническое заболевание</option>
                <option >МРТ</option>
                <option >КТ</option>
                <option >УЗИ</option>
                <option >Другое</option>
            </select>
            <select name="type_doctor">
                <option>Аллерголог</option>
                <option>Дерматовенеролог</option>
                <option>Гинеколог</option>
                <option>Инфекционист</option>
                <option>Кардиолог</option>
                <option>Нарколог</option>
                <option>Невропатолог</option>
                <option>Отоларинголог</option>
                <option>Офтальмолог</option>
                <option>Онколог</option>
                <option>Педиатр</option>
                <option>Психиатр</option>
                <option>Пульмонолог</option>
                <option>Рентгенолог</option>
                <option>Реаниматолог</option>
                <option>Скорая Неотложная помощь</option>
                <option>Стоматолог</option>
                <option>СудМедЭксперт</option>
                <option>Терапевт</option>
                <option>Травмотолог/Ортопед</option>
                <option>Уролог</option>
                <option>Эпидемиолог</option>
                <option>Другое</option>
            </select>
            <label for="data_conclusion">Дата заключения:</label>
            <input type="date" name="data_conclusion" placeholder="dd-mm-yyyy"  pattern="\d{4}-\d{2}-\d{2}">
            <label for="file">Файл для загрузки:</label>
            <input type="file" name="filedata" id="file" required>
            <br>
            <div class="button-container">
            <input type="submit" value="Продолжить">
            <button type="button" onclick="hideForm()">Закрыть</button>
            </div>
        </form>
    </div>
    <div id="gallery">
        <% files.forEach(function(file) { %>
            <div class="file">
                <% if(file.file_type==='png'||file.file_type==='jpeg'||file.file_type==='jpg')
                { %>
                    <a href="/carta/carta_file/<%= file.id_conclusion %>"  rel="noopener noreferrer">
                        <img src="<%= file.file_path %>" alt="<%= file.name_conclusion %>" />
                    </a>
                    <% } else if (file.file_type==='pdf') { %>
                        <img data-pdf-thumbnail-file=<%= file.file_path %> width="100%" height="600px"/>
                <% } else if (file.file_type==='doc' || file.file_type==='docx') { %>
                    <iframe src="https://docs.google.com/gview?url=<%= file.file_path %>&embedded=true" style="width:100%; height:600px;" frameborder="0"></iframe>
                <% } else { %>
                    <div class="file-icon">
                        <a class="fa fa-file">Скачать</a>
                    </div>
                <% } %>
                <div class="file-name"><%= file.name_conclusion %></div>
            </div>
        <% }); %>
    </div>
   <script>
        const gallery_selector = document.querySelector('#gallery');
        const files = <%= JSON.stringify(files) %>;

        files.forEach(function(file) {
            const fileDiv = gallery_selector.querySelector(`[alt="${file.name}"]`);
            if(fileDiv) {
                fileDiv.parentNode.removeChild(fileDiv);
            }
        });
    </script>

    <script>
        var addRecordBtn = document.getElementById("add-record-btn");
        var gallery = document.getElementById("gallery");
        var form = document.getElementById("upload-form");

        function toggleForm() {
            form.style.display = form.style.display === "none" ? "block" : "none";
            gallery.style.display = gallery.style.display === "none" ? "block" : "none";
            addRecordBtn.style.display = "none";
        }
        function hideForm() {
            form.style.display = "none";
            gallery.style.display = "block";
            addRecordBtn.style.display = "block";
            form.reset(); // добавляем эту строку для очистки формы
        }
    </script>
</div>

<!--end wrap-->
</body>

<!--end cache-images-->
</html>