<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css"/>
</head>
<body class="home">
<div id="wrap">
    <div id="header"><img src="images/logo.png"/>
        <div id="nav">
            <ul class="menu">
                <li><a href="/home">Главная</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li class="current_page_item"><a href="/carta">Мед.карточка</a></li>
                <li><a href="/visit_doctor">Визит к врачу</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
    <div class="button-container">
        <button id="add-record-btn" onclick="toggleForm(); hideAddRecordBtn()">Добавить запись</button>
        <label for="myInput">Поиск по имени:</label>
        <input type="text" id="myInput" list="myOptions" autocomplete="off" onkeydown="if (event.keyCode == 13) Search()">
        <datalist id="myOptions">
            <% files.forEach(function(file) { %>
            <option value="<%= file.name_conclusion %>">
            </option>
            <% }); %>
        </datalist>
        <div class="filterandsort">
        <button class="filter-btn" data-filter-value="" onclick="window.location.href='/carta'">Без фильтра</button>
        <div class="sort-wrapper">
            <button class="sort-btn">Сортировка</button>
            <div class="sort-dropdown">
                <ul class="sort-list">
                    <li>
                        <a href="#">По названию</a>
                        <ul class="sub-sort-list">
                            <button onclick="setSort('name_conclusion')">A-Z</button>
                            <li>
                                <button onclick="setSort('name_conclusion','1')">Z-A</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">По дате</a>
                        <ul class="sub-sort-list">
                            <li>
                                <button onclick="setSort('data_conclusion')">Новые-старые</button>
                            </li>
                            <li>
                                <button onclick="setSort('data_conclusion','1')">Старые-новые</button>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn" onmouseover="showDateRangePicker()">Дата от_до_</button>
                                    <div id="date-range-picker" class="dropdown-content" style="display: none;">
                                        <input id="date-from" type="date">
                                        <input id="date-to" type="date">
                                        <button onclick="FromTo( document.getElementById('date-from').value, document.getElementById('date-to').value)">
                                            Применить
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    </li>
                    <li>
                        <a href="#">По доктору</a>
                        <ul class="sub-sort-list">
                            <li>
                                <button onclick="setSort('type_doctor')">А-Я</button>
                            </li>
                            <li>
                                <button onclick="setSort('type_doctor','1')">Я-А</button>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="filter-btn" onmouseover=" showDoctorFilter()">Выбрать доктора
                                    </button>
                                    <div class="filter-options" id="doctor-filter" style="display: none;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Аллерголог')">
                                                        Аллерголог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Дерматовенеролог')">
                                                        Дерматовенеролог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Гинеколог')">
                                                        Гинеколог
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Инфекционист')">
                                                        Инфекционист
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Кардиолог')">
                                                        Кардиолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Нарколог')">
                                                        Нарколог
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Невропатолог')">
                                                        Невропатолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Отоларинголог')">
                                                        Отоларинголог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Офтальмолог')">
                                                        Офтальмолог
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Онколог')">Онколог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Педиатр')">Педиатр
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Психиатр')">
                                                        Психиатр
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Пульмонолог')">
                                                        Пульмонолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Рентгенолог')">
                                                        Рентгенолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Реаниматолог')">
                                                        Реаниматолог
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn"
                                                            onclick="setFilter('Скорая Неотложная помощь')">Скорая
                                                        Неотложная помощь
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Стоматолог')">
                                                        Стоматолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('СудМедЭксперт')">
                                                        СудМедЭксперт
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Терапевт')">
                                                        Терапевт
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn"
                                                            onclick="setFilter('Травмотолог/Ортопед')">
                                                        Травмотолог/Ортопед
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Уролог')">Уролог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Эпидемиолог')">
                                                        Эпидемиолог
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="filter-btn" onclick="setFilter('Другое')">Другое
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-dropdown">
            <button class="filter-btn" onclick="toggleFilterDropdown()">Фильтр</button>
            <div class="filter-options" id="type_filter">
                <table>
                    <tr>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Анализы')">Анализы</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Аллергия')">Аллергия</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Консультация')">Консультация</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Плановый прием')">Плановый прием</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Прививка')">Прививка</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Флюрография')">Флюрография</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Заключение врача')">Заключение врача</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Рентген')">Рентген</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Справка')">Справка</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('МРТ')">МРТ</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="filter-btn" onclick="setFilter('КТ')">КТ</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Стоматология')">Стоматология</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('УЗИ')">УЗИ</button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Хроническое заболевание')">Хроническое
                                заболевание
                            </button>
                        </td>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Направления')">Направления</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="filter-btn" onclick="setFilter('Другое')">Другое</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            function Search() {
                var search = document.getElementById("myInput");
                const params = new URLSearchParams(window.location.search);
                params.set('search_by', search.value);
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.location.href = newUrl;
            }
            function showDoctorFilter() {
                var doctor_filter = document.getElementById("doctor-filter");
                if (doctor_filter.style.display === "none") {
                    doctor_filter.style.display = "block";
                } else {
                    doctor_filter.style.display = "none";
                }
            }

            function toggleFilterDropdown() {
                var dropdown = document.getElementById("type_filter");
                dropdown.classList.toggle("show");
            }

            function showDateRangePicker() {
                var dateRangePicker = document.getElementById("date-range-picker");
                if (dateRangePicker.style.display === "none") {
                    dateRangePicker.style.display = "block";
                } else {
                    dateRangePicker.style.display = "none";
                }
            }

            function setFilter(filterValue) {
                const params = new URLSearchParams(window.location.search);
                params.set('filter_by', 'type_conclusion');
                params.set('filter_value', filterValue);
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.location.href = newUrl;

            }

            function setSort(sortBy, revers) {
                const params = new URLSearchParams(window.location.search);
                params.set('sorted_by', sortBy);
                if (revers) {
                    params.set('revers', revers);
                }
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.location.href = newUrl;

            }

            function FromTo(filterValue, filterEnd) {
                const params = new URLSearchParams(window.location.search);
                params.set('filter_by', 'data_conclusion');
                params.set('filter_value', filterValue);
                params.set('filter_end', filterEnd);
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.location.href = newUrl;

            }
        </script>

        <div id="upload-form" style="display: none;">
            <form action="/file/upload" method="POST" enctype="multipart/form-data">
                <label for="name_conclusion">Название документа:</label>
                <input type="text" name="name_conclusion" required>
                <select name="type_conclusion">
                    <option>Анализы</option>
                    <option>Аллергия</option>
                    <option>Заключение врача</option>
                    <option>Консультация</option>
                    <option>Направления</option>
                    <option>Плановый прием</option>
                    <option>Прививка</option>
                    <option>Рентген</option>
                    <option>Справка</option>
                    <option>Стоматология</option>
                    <option>Флюрография</option>
                    <option>Хроническое заболевание</option>
                    <option>МРТ</option>
                    <option>КТ</option>
                    <option>УЗИ</option>
                    <option>Другое</option>
                </select>
                <select name="type_doctor">
                    <option>Аллерголог</option>
                    <option>Дерматовенеролог</option>
                    <option>Гинеколог</option>
                    <option>Инфекционист</option>
                    <option>Кардиолог</option>
                    <option>Нарколог</option>
                    <option>Невропатолог</option>
                    <option>Отоларинголог</option>
                    <option>Офтальмолог</option>
                    <option>Онколог</option>
                    <option>Педиатр</option>
                    <option>Психиатр</option>
                    <option>Пульмонолог</option>
                    <option>Рентгенолог</option>
                    <option>Реаниматолог</option>
                    <option>Скорая Неотложная помощь</option>
                    <option>Стоматолог</option>
                    <option>СудМедЭксперт</option>
                    <option>Терапевт</option>
                    <option>Травмотолог/Ортопед</option>
                    <option>Уролог</option>
                    <option>Эпидемиолог</option>
                    <option>Другое</option>
                </select>
                <label for="data_conclusion">Дата заключения:</label>
                <input type="date" name="data_conclusion" placeholder="dd-mm-yyyy" pattern="\d{4}-\d{2}-\d{2}" required>
                <label for="file">Файл для загрузки:</label>
                <input type="file" name="filedata" id="file" required>
                <br>
                <div class="button-container">
                    <input type="submit" value="Продолжить">
                    <button type="button" onclick="hideForm()">Закрыть</button>
                </div>
            </form>
        </div>
        </div>
        <div id="gallery">
            <% files.forEach(function(file) { %>
                <div class="file" >
                    <% if(file.file_type === 'png' || file.file_type === 'jpeg' || file.file_type === 'jpg')
                    { %>
                        <a href="/carta/carta_file/<%= file.id_conclusion %>" rel="noopener noreferrer">
                            <img src="<%= file.file_path %>" alt="<%= file.name_conclusion %>"/>
                        </a>
                    <% } else if (file.file_type === 'pdf') { %>
                        <img data-pdf-thumbnail-file=<%= file.file_path %> width="100%" height="600px"/>
                    <% } else if (file.file_type === 'doc' || file.file_type === 'docx') { %>
                        <iframe src="https://docs.google.com/gview?url=<%= file.file_path %>&embedded=true"
                                style="width:100%; height:600px;" frameborder="0"></iframe>
                    <% } else { %>
                        <div class="file-icon">
                            <a class="fa fa-file">Скачать</a>
                        </div>
                    <% } %>
                    <div class="file-name"><%= file.name_conclusion %></div>
                </div>
            <% }); %>
        </div>
        <script>
            const gallery_selector = document.querySelector('#gallery');
            const files = <%= JSON.stringify(files) %>;

            files.forEach(function (file) {
                const fileDiv = gallery_selector.querySelector(`[alt="${file.name}"]`);
                if (fileDiv) {
                    fileDiv.parentNode.removeChild(fileDiv);
                }
            });

        </script>
        <script>
            var addRecordBtn = document.getElementById("add-record-btn");
            var gallery = document.getElementById("gallery");
            var form = document.getElementById("upload-form");
            var myInput = document.getElementById("myInput");
            var filterandsort = document.getElementById("filterandsort");


            function toggleForm() {
                form.style.display = form.style.display === "none" ? "block" : "none";
                gallery.style.display = gallery.style.display === "none" ? "block" : "none";
                addRecordBtn.style.display = "none";
                myInput.style.display = myInput.style.display === "none" ? "block" : "none";
                filterandsort.style.display = filterandsort.style.display === "none" ? "block" : "none";

            }

            function hideForm() {
                form.style.display = "none";
                gallery.style.display = "block";
                addRecordBtn.style.display = "block";
                myInput.style.display = "block"
                filterandsort.style.display = "block"

                form.reset(); // добавляем эту строку для очистки формы
            }
        </script>
        <script>
            const buttons = document.querySelectorAll('.filter-btn');

            // При нажатии на кнопку
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    // Убираем класс "active" у всех кнопок
                    buttons.forEach(btn => btn.classList.remove('active'));
                    // Добавляем класс "active" только нажатой кнопке
                    this.classList.add('active');
                });
            });
        </script>

    </div>
</div>
<!--end wrap-->
</body>

<!--end cache-images-->
</html>