<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/skin.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
    <script>
        async function previewPdf(filepath, block) {

            const canvas = document.getElementById(block);
            const context = canvas.getContext('2d');

            const task = pdfjsLib.getDocument(filepath);
            const pdf = await task.promise;
            const page = await pdf.getPage(1);

            const scale = 0.5;
            const viewport = page.getViewport({scale: scale,});
            const outputScale = window.devicePixelRatio || 1;

            canvas.width = Math.floor(viewport.width * outputScale);
            canvas.height = Math.floor(viewport.height * outputScale);
            canvas.style.width = Math.floor(viewport.width) + "px";
            canvas.style.height = Math.floor(viewport.height) + "px";

            const transform = outputScale !== 1
                ? [outputScale, 0, 0, outputScale, 0, 0]
                : null;

            const renderContext = {
                canvasContext: context,
                transform: transform,
                viewport: viewport
            };
            page.render(renderContext);
        }
    </script>
</head>
<body class="home">
<div id="wrap">
    <div id="header"><img src="/images/logo.png"/>
        <div id="nav">
            <ul class="menu">
                <li><a href="/home">
                        <img src="/images/main.png" class="nav-item-image"/>
                        Главная</a></li>
                <li><a href="/profile">
                        <img src="/images/prof.png" class="nav-item-image"/>
                        Профиль</a></li>
                <li class="current_page_item"><a href="/carta">
                        <img src="/images/edcart.png" class="nav-item-image"/>
                        Мед.карточка</a></li>
                <li>
                    <a href="/visit_doctor">
                        <img src="/images/visitdoc.png" class="nav-item-image"/>
                        Визит к врачу</a></li>
                <li>
                    <a href="/logout">
                        <img src="/images/logout.png" class="nav-item-image"/>
                        Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <form id="conclusion-form" method="post" style="display: flex;
    flex-direction: row-reverse; margin-top: 25px;" action="/carta/carta_file/<%= file_id %>">
            <div class="hrop" style="margin-left: 50px;margin-top:5px;width: 400px;">
                <div class="fileimg">
                    <% if(file.file_type === 'png' || file.file_type === 'jpeg' || file.file_type === 'jpg') { %>
                        <img src="/<%= file.file_path %>"/>
                    <% } else if (file.file_type === 'pdf') { %>
                        <canvas id="canvas_lista<%= file.id_conclusion %>"></canvas>
                        <script>
                            previewPdf("\\file\\upload\\<%= file.file_path %>", "canvas_lista<%= file.id_conclusion %>");
                        </script>
                    <% } else if (file.file_type === 'doc' || file.file_type === 'docx') { %>
                        <iframe src="https://docs.google.com/gview?url=<%= file.file_path %>&embedded=true"
                                style="width:100%; height:600px;" frameborder="0"></iframe>
                    <% } else { %>
                        <div class="file-icon">
                            <a class="fa fa-file">Скачать</a>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="info-user" style="width: 650px; height: auto;">
                <h2 style="text-align: center; margin: 1px;"><%= type_conclusion %></h2>
                <hr style="width: 100%;border-bottom: 2px solid #8bb9d5;">
                <div class="overlay">
                    <div class="modal">
                        <div class="close-btn"><i class="fas fa-times"></i></div>
                        <img src="">
                    </div>
                </div>
                <div class="other">
                    <div class="profileField">
                        <label for="name_conclusion" class="profileLabel">Название</label>
                        <input type="text" name="name_conclusion" class="profileInput" value="<%= name_conclusion %>"
                               readonly>
                    </div>
                    <div class="profileField">

                        <label for="type_doctor" class="profileLabel">Доктор:</label>
                        <select name="type_doctor" class="profileInput" readonly>
                            <option> <%= type_doctor %> </option>
                            <option>Аллерголог</option>
                            <option>Дерматовенеролог</option>
                            <option>Гинеколог</option>
                            <option>Инфекционист</option>
                            <option>Кардиолог</option>
                            <option>Нарколог</option>
                            <option>Невропатолог</option>
                            <option>Отоларинголог</option>
                            <option>Офтальмолог</option>
                            <option>Онколог</option>
                            <option>Педиатр</option>
                            <option>Психиатр</option>
                            <option>Пульмонолог</option>
                            <option>Рентгенолог</option>
                            <option>Реаниматолог</option>
                            <option>Скорая Неотложная помощь</option>
                            <option>Стоматолог</option>
                            <option>СудМедЭксперт</option>
                            <option>Терапевт</option>
                            <option>Травмотолог/Ортопед</option>
                            <option>Уролог</option>
                            <option>Эпидемиолог</option>
                            <option>Другое</option>
                        </select>
                    </div>
                    <div class="profileField">
                        <label for="place_conclusion" class="profileLabel">Место</label>
                        <input type="text" style="width: 100%" class="profileInput" name="place_conclusion"
                               value="<%= place_conclusion %>" readonly>
                        <label for="doctor" class="profileLabel">ФИО врача</label>
                        <input type="text" style="width: 100%" class="profileInput" name="doctor" value="<%= doctor %>"
                               readonly>
                    </div>
                    <div class="profileField">
                        <label for="data_conclusion" class="profileLabel">Дата заключения:</label>
                        <input type="date" class="profileInput" name="data_conclusion" placeholder="dd-mm-yyyy"
                               value="<%= data_conclusion %>" pattern="\d{4}-\d{2}-\d{2}" readonly>
                    </div>
                    <% if ( "conclusion" in type_info) { %>
                    <div class="profileField">
                        <label for="conclusion" class="profileLabel">Заключение</label>
                        <input type="text" class="profileInput" name="conclusion" value="<%= type_info['conclusion'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "code" in type_info) { %>
                    <div class="profileField">

                        <label for="code" class="profileLabel">Название/Код</label>
                        <input type="text" class="profileInput" name="code" value="<%= type_info['code'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "diagnosis" in type_info) { %>
                    <div class="profileField">

                        <label for="diagnosis" class="profileLabel">Диагноз</label>
                        <input type="text" class="profileInput" name="diagnosis" value="<%= type_info['diagnosis'] %>"
                               readonly>
                    </div>
                    <% } %>

                    <% if ( "complaints" in type_info) { %>
                    <div class="profileField">

                        <label for="complaints" class="profileLabel">Жалобы</label>
                        <input type="text" class="profileInput" name="complaints" value="<%= type_info['complaints'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "anamnez" in type_info) { %>
                    <div class="profileField">

                        <label for="anamnez" class="profileLabel">Анамнез</label>
                        <input type="text" class="profileInput" name="anamnez" value="<%= type_info['anamnez'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "prescription" in type_info) { %>
                    <div class="profileField">

                        <label for="prescription" class="profileLabel">Назначение рецепта</label>
                        <input type="text" class="profileInput" name="prescription"
                               value="<%= type_info['prescription'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "area" in type_info) { %>
                    <div class="profileField">

                        <label for="area" class="profileLabel">Область</label>
                        <input type="text" class="profileInput" name="area" value="<%= type_info['area'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "purpose" in type_info) { %>
                    <div class="profileField">

                        <label for="purpose" class="profileLabel">Цель</label>
                        <input type="text" class="profileInput" name="purpose" value="<%= type_info['purpose'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "todoctor" in type_info) { %>
                    <div class="profileField">

                        <label for="todoctor" class="profileLabel">к какому врачу</label>
                        <input type="text" class="profileInput" name="todoctor" value="<%= type_info['todoctor'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "justification" in type_info) { %>
                    <div class="profileField">

                        <label for="justification" class="profileLabel">Обоснование направления</label>
                        <input type="text" class="profileInput" name="justification"
                               value="<%= type_info['justification'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "cameto" in type_info) { %>
                    <div class="profileField">

                        <label for="cameto" class="profileLabel">Явиться к</label>
                        <input type="text" class="profileInput" name="cameto" value="<%= type_info['cameto'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "date_starting" in type_info) { %>
                    <div class="profileField">

                        <label for="date_starting" class="profileLabel">Дата с</label>
                        <input type="text" class="profileInput" name="date_starting"
                               value="<%= type_info['date_starting'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "date_finish" in type_info) { %>
                    <div class="profileField">

                        <label for="date_finish" class="profileLabel">Дата по</label>
                        <input type="text" class="profileInput" name="date_finish"
                               value="<%= type_info['date_finish'] %>" readonly>
                    </div>
                    <% } %>
                    <% if ( "allergen" in type_info) { %>
                    <div class="profileField">

                        <label for="allergen" class="profileLabel">Аллерген</label>
                        <input type="text" class="profileInput" name="allergen" value="<%= type_info['allergen'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "reaction" in type_info) { %>
                    <div class="profileField">

                        <label for="reaction" class="profileLabel">Реакция</label>
                        <input type="text" class="profileInput" name="reaction" value="<%= type_info['reaction'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "medication" in type_info) { %>
                    <div class="profileField">
                        <label for="medication" class="profileLabel">Препарат</label>
                        <input type="text" class="profileInput" name="medication" value="<%= type_info['medication'] %>"
                               readonly>
                    </div>
                    <% } %>
                    <% if ( "dose" in type_info) { %>
                    <div class="profileField">
                        <label for="dose" class="profileLabel">Доза препарата</label>
                        <input type="text" class="profileInput" name="dose" value="<%= type_info['dose'] %>" readonly>
                    </div>
                    <% } %>
                    <div class="profileField">
                        <label for="comment" class="profileLabel">Комментарии</label>
                        <input type="text" class="profileInput" name="comment" value="<%= comment %>" readonly>
                    </div>
                </div>
                <div class="button-container" style="justify-content: space-around; margin-right: 20px">

                    <button id="delete-button" type="button">
                        <i class="fas fa-trash-alt"></i> Удалить запись
                    </button>
                    <button id="save-button" type="submit" style="display: none;">
                        <i class="fas fa-save"></i> Сохранить изменения
                    </button>
                    <button id="edit-button" type="button">
                        <i class="fas fa-edit"></i> Редактировать
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<!--end wrap-->

<script>
    const editButton = document.getElementById('edit-button');
    const saveButton = document.getElementById('save-button');
    const conclusionInputs = document.querySelectorAll('input[name="name_conclusion"], select[name="type_doctor"], input[name="place_conclusion"], input[name="doctor"], input[name="comment"], input[name="code"], input[name="diagnosis"], input[name="complaints"], input[name="anamnez"], input[name="conclusion"], input[name="prescription"], input[name="area"], input[name="purpose"], input[name="todoctor"], input[name="justification"], input[name="cameto"], input[name="number"], input[name="date_starting"], input[name="date_finish"], input[name="allergen"], input[name="reaction"], input[name="medication"], input[name="dose"]');

    // Обработчик нажатия кнопки "Редактировать"
    editButton.addEventListener('click', () => {
        editButton.style.display = 'none';
        saveButton.style.display = 'block';
        conclusionInputs.forEach(input => input.removeAttribute('readonly'));
    });

    // Обработчик отправки формы
    document.getElementById('conclusion-form').addEventListener('submit', () => {
        editButton.style.display = 'block';
        saveButton.style.display = 'none';
        conclusionInputs.forEach(input => input.setAttribute('readonly', ''));
    });

</script>
<script>
    const fileImages = document.querySelectorAll('.fileimg img');
    const overlay = document.querySelector('.overlay');
    const modal = document.querySelector('.modal');
    const modalImage = document.querySelector('.modal img');
    const closeBtn = document.querySelector('.close-btn');

    fileImages.forEach((image) => {
        image.addEventListener('click', () => {
            modalImage.src = image.src;
            overlay.style.display = 'block';
            modal.style.display = 'block';
        });
    });

    closeBtn.addEventListener('click', () => {
        overlay.style.display = 'none';
        modal.style.display = 'none';
    });
</script>
<script>
    const deleteButton = document.getElementById('delete-button');
    deleteButton.addEventListener('click', function () {
        // Выводим диалоговое окно для подтверждения удаления
        const confirmed = confirm('Вы действительно хотите удалить запись?');
        if (confirmed) {
            // Если пользователь подтвердил удаление, отправляем запрос на сервер
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/delete_record', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                console.log(xhr.readyState)
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert('Запись удалена успешно!');
                    // Обновляем страницу после удаления
                    window.location.reload();
                } else if (xhr.readyState === 4 && xhr.status !== 200) {
                    alert('Ошибка удаления записи!');
                }
            };
            xhr.send(JSON.stringify({id_conclusion: "<%= id_conclusion %>"}));
        }
    });
</script>
</body>
<!--end cache-images-->
</html>
