<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="images/logo.png" />
        <div id="nav">
            <ul class="menu">
                <li><a href="/home">Главная</a></li>
                <li class="current_page_item"><a href="/profile">Профиль</a></li>
                <li><a href="/carta">Мед.карточка</a></li>
                <li><a href="/visit_doctor">Визит к врачу</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
        <div class="profile-image">
            <img src="path/to/profile-photo" alt="Profile photo">
        </div>
    <div class="info-user">
        <form method="post" action="/profile">
            <label for="name">Имя:</label>
            <input type="text" name="name" value="<%= name %>">
            <label for="surname">Фамилия:</label>
            <input type="text" name="surname" value="<%= surname %>">
            <label for="gender">Пол:</label>
            <select name="gender">
                <option value="male" <%= gender === 'male' ? 'selected' : '' %>>Male</option>
                <option value="female" <%= gender === 'female' ? 'selected' : '' %>>Female</option>
            </select>
            <label for="birthday">День рождения:</label>
            <input type="date" name="birthday" placeholder="dd-mm-yyyy"  value="<%= birthday %>" pattern="\d{4}-\d{2}-\d{2}">

            <label for="phone">Номер телефона:</label>
            <div class="phone-input">
                <input type="tel" name="phone" placeholder="8 ___ ___ __ __" value="<%= number_phone %>">
            </div>
                <button type="submit">Save Changes</button>
               <button id="delete-button" type="button">Удалить аккаунт</button>
        </form>
    </div>



    <script>
            // JavaScript code goes here
            const form = document.querySelector('form');
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                const name = document.querySelector('input[name="name"]').value;
                const surname = document.querySelector('input[name="surname"]').value;
                const gender = document.querySelector('select[name="gender"]').value;
                const birthday = document.querySelector('input[name="birthday"]').value;
                const number_phone = document.querySelector('input[name="phone"]').value;
                const today = new Date();
                const selectedDate = new Date(birthday);
                if (selectedDate > today) {
                    alert("Введите корректную дату");
                    window.location.href = "/profile";
                }
                fetch('/profile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: name,
                        surname: surname,
                        gender: gender,
                        birthday: birthday,
                        number_phone: number_phone
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if(data['error']){
                            alert(data['error'])
                        }
                   })
                    .catch(error => console.error(error));
            });
        </script>
    <script>
        const deleteButton = document.getElementById('delete-button');
        deleteButton.addEventListener('click', function() {
            // Выводим диалоговое окно для подтверждения удаления
            const confirmed = confirm('Вы действительно хотите удалить аккаунт со всеми данными?');
            if (confirmed) {
                // Если пользователь подтвердил удаление, отправляем запрос на сервер
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/delete_profile', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    console.log(xhr.readyState)
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        alert('удалено!');
                        window.location.reload();
                        return;
                    } else if (xhr.readyState === 4 && xhr.status !== 200) {
                        alert('Ошибка удаления записи!');
                    }
                };
                xhr.send(JSON.stringify({ user_id: "<%=user_id%>" }));
            }
        });
    </script>
</div>
<!--end wrap-->
</body>
<!--end cache-images-->
</html>